<div class="rounded">
  <div class="px-8 pt-6 pb-8">
    <div class="flex items-center justify-between m-0 leading-tight">
      <span class="inline-flex items-center text-xs text-gray-600 no-underline">
        <%= render_svg 'icons/conversation', styles: "w-3 fill-current text-gray-500 mr-1" %> 
        <span class="ml-1"><%= community.name %></span>
      </span>
      <% if author_of(community) %>
        <%= link_to edit_community_path(community), class: "no-underline mr-2" do %>
          <%= render_svg 'icons/edit', styles: "w-4 fill-current text-gray-500", title: "Edit" %>
        <% end %>
      <% end %>
    </div>
    <h3 class="m-0 text-lg leading-tight"><%= community.title %></h3>

    <div class="flex flex-wrap items-center justify-start pt-2">
      <div class="w-1/2 border-r border-gray-400">
        <p class="m-0"><%= community.submissions.count %></p>
        <p class="m-0 text-xs">
          <%= pluralize(community.submissions.count, 'Submission') %>
        </p>
      </div>
      <div class="w-1/2 pl-4">
        <p class="m-0">< count ></p>
        <p class="m-0 text-xs">Subscribers</p>
      </div>
    </div>

    <hr class="border-b border-gray-400" />

    <div class="mb-6 text-sm">
      <%= community.description %>
    </div>

    <hr class="border-b border-gray-400" />

    <div class="mb-6 text-sm">
      <%= community.sidebar %>
    </div>
  </div>
</div>